[class*="col-"] {
  margin: 2px auto;
  height: 26vh;
  flex: 0.4 0 37%;

  //   width: 49%;
  //   padding-bottom: 49%;
  //   margin: auto 0.5% 1%;
  //   background-size: cover;
  //   background-position: 50%;
  //   float: left;
  //   position: relative;
  //   transition: all 0.3s ease-in-out;
  //   transition-delay: 0s;
}
