@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url(https://fonts.googleapis.com/css?family=Lusitana);
ul {
  list-style: none; }
  ul li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 36px; }

.menu-toggle {
  opacity: 1;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  right: 13%;
  left: 88vw;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out; }
  .menu-toggle:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background: linear-gradient(to bottom, #171717, #171717 20%, transparent 20%, transparent 40%, #171717 40%, #171717 60%, transparent 60%, transparent 80%, #171717 80%, #171717 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out; }
  .menu-toggle:after {
    opacity: 0;
    content: "×";
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out; }
  .menu-toggle:active {
    transform: translateY(2px); }
  .menu-toggle:hover {
    opacity: 1; }
  .open .menu-toggle {
    opacity: 1; }
    .open .menu-toggle:before {
      opacity: 0;
      width: 0; }
    .open .menu-toggle:after {
      opacity: 1;
      transform: translate3d(0, 0, 0) rotate(360deg);
      transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out; }

nav.navigation {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden; }
  nav.navigation:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.98);
    width: 100%;
    height: 0;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden; }
  .open nav.navigation {
    top: 0; }
    .open nav.navigation:before {
      animation: menu-animation 0.8s ease-out forwards; }

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
  perspective: 1000;
  color: white; }
  ul.menu li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0); }
    ul.menu li:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      left: auto;
      background-color: white;
      height: 100%;
      width: 0;
      overflow: hidden;
      transition: width 0.14s ease-out; }
    ul.menu li:after {
      opacity: 0;
      content: attr(data-text);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      color: #171717;
      overflow: hidden;
      transform: translate(-24px, 6px);
      transition: transform 0.1s ease-out, opacity 0.1s ease-out; }
    ul.menu li:visited {
      text-decoration: none; }
    ul.menu li:hover:before {
      left: 0;
      right: auto;
      width: 100%; }
    ul.menu li:hover:after {
      opacity: 1;
      padding: 0 20px;
      transform: translate(0px, 6px);
      transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out; }
    .open ul.menu li {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
      .open ul.menu li:nth-child(1) {
        transition-delay: 0.75s; }
      .open ul.menu li:nth-child(2) {
        transition-delay: 0.85s; }
      .open ul.menu li:nth-child(3) {
        transition-delay: 0.95s; }
      .open ul.menu li:nth-child(4) {
        transition-delay: 1.05s; }

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%); }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out; }
  40% {
    transform: scale(0.04) translateY(0); }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px); }
  61% {
    transform: scale(0.04); }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%; }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0; } }
.menuOption {
  text-decoration: none;
  color: white; }
  .menuOption:visited {
    color: white; }

.header {
  height: 74px;
  width: 103vw;
  background-color: white;
  z-index: 999;
  border-bottom: 3px solid #171717;
  color: #171717;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  align-items: center;
  position: relative;
  transition: padding-top 0.7s ease-in-out; }
  .header h4 {
    transform: translateX(15px);
    padding-top: 4px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-weight: normal; }
  .header div {
    width: 60px; }

.menu-toggle {
  transition: margin-top 0.7s ease-in-out; }

#myLogo {
  transition: all 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  vertical-align: bottom; }

.contacts {
  height: 30vh;
  width: 100%;
  margin: auto 0;
  margin-left: 8%; }
  .contacts a {
    font-size: 2rem;
    padding: 0 5%;
    color: #171717; }

@media screen and (min-width: 768px) {
  .aboutContainer {
    width: 65vw;
    height: 96.5vh; }

  .header {
    width: 83vw;
    height: 85px;
    padding-top: 11px;
    margin: 0 auto; }

  .menu-toggle {
    right: 9vw;
    margin-top: 11px; }

  .contacts {
    height: 30vh;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-33%);
    margin-bottom: 80px; }
    .contacts a {
      padding: 0 6%; } }
@media screen and (min-width: 1024px) {
  .contacts {
    height: 30vh; } }
.photosContainer {
  background-color: white;
  min-height: 250vh; }
  .photosContainer li {
    cursor: default; }
  .photosContainer .photosWrapper {
    max-height: 1200px;
    height: auto;
    width: 100%;
    background-color: white;
    margin-bottom: 150px;
    margin: 0 auto; }
  .photosContainer .grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    height: auto;
    margin-top: 0px; }

@media screen and (min-width: 768px) {
  .photosContainer .photosWrapper {
    width: 84%;
    margin-top: 4%; } }
@media screen and (min-width: 768px) {
  .fixEndPhoto {
    width: 30.65%;
    min-height: 1px; } }
@media screen and (min-width: 1024px) {
  .fixEndPhoto {
    width: 29.55%; } }

/*# sourceMappingURL=Photos.css.map */
